<template>
	<form>


        <div class="form-row">
            <div class="col-md-2">
            	<alert-message v-if="message !== ''" :message="message"></alert-message>
               
            </div>

                First name:
                
                <input type="text" id="first-name" :class="{'is-invalid': isInvalid('firstName') }" class="form-control" v-model="formData.firstName.value">
            </div>

            <div class="form-group col-md-4">
                prefix:
                
                <input type="text" class="form-control" >
            </div>

            <div class="form-group col-md-4">
                Last name:
                <input type="text" class="form-control" :class="{'is-invalid': isInvalid('lastName') }" v-model="formData.lastName.value">
            </div>

            <div class="form-group col-md-12">
                subject:
                <input type="text" class="form-control" id="inputAddress" placeholder="Subject..." >
            </div>

            <div class="form-group col-md-12">
                message:
                <textarea type="text" class="form-control" id="inputAddress" placeholder="..." 
                ></textarea>
                <hr>
                <button @click="send()">send</button>
            </div>
        </div>
     </form>
</template>

<script>
  	import AlertMessage from '@/components/AlertMessage';
	
	export default {
		name: 'contact',
		components:{
			AlertMessage,
		},
		data() {
			return {
				formData: {
					firstName: {
						value:'Richall',
						error: '',

					},

					lastName: {
						value: 'Jangi',
						error: '',
					},
				},
				foundErrorIn: [],
				message: '',
			}
		},

		methods: {
			send() {
				// get the keys from the object
				const fields = Object.keys(this.formData);
                
                // create a temp array for the fields wich contains error
				this.foundErrorIn = [];

				// Ierate through the fields to find an error field.forEach

				fields.forEach((field) => {
					this.isEmpty(field);

					if(this.formData[field].error !== '') {
						this.foundErrorIn.push(field);
					}
				});

				if (this.foundErrorIn.length > 0){
					this.message = 'Oh No! Errors!';
				}
				console.log(this.foundErrorIn);
			},

			isInvalid(field) {
				return this.foundErrorIn.includes(field);
			},	

			isEmpty(field) {
				this.formData[field].error = '';

				if (this.formData[field].value.trim() === '') {
					this.formData[field].error = 'Oh No! It\'s empty';
				}
		}
	}
}
</script>