<template>

	
		<div class="alert alert-danger">
			<strong v-text="message"></strong>
	</div>	
</template>

<script>
	export default {
		name: 'AlertMessage',
		props: {
			message: {
				type: String,
				required: true,

			}
		},
	}

</script>